<!-- Start HEADER -->

<header class="header">
  <div class="header__wrapper">
    <div class="container header__container">
      <div class="header__inner">

        <!-- Start Menu -->
        <nav class="menu">
          <!-- Logo -->
          <a href=".header__logo" class="logo header__logo">Funiro.</a>

          <ul class="menu__list">
            <!-- Navigation -->
            <li class="menu__item">
              <a href="" class="menu__link">Products</a>
              <button class="menu__arrow _icon-arrow-down" type="submit" data-spoiler=""></button>
              <ul class="menu__sublist">
                <li class="menu__subitem">
                  <a class="menu__sublink" href="#">Product #1</a>
                </li>
                <li class="menu__subitem">
                  <a class="menu__sublink" href="#">Product #2</a>
                </li>
                <li class="menu__subitem">
                  <a class="menu__sublink" href="#">Product #3</a>
                </li>
                <li class="menu__subitem">
                  <a class="menu__sublink" href="#">Product #4</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Rooms</a>
              <button class="menu__arrow _icon-arrow-down" type="submit" data-spoiler=""></button>
              <ul class="menu__sublist">
                <li class="menu__subitem">
                  <a class="menu__sublink" href="#">Room #1</a>
                </li>
                <li class="menu__subitem">
                  <a class="menu__sublink" href="#">Room #2</a>
                </li>
                <li class="menu__subitem">
                  <a class="menu__sublink" href="#">Room #3</a>
                </li>
                <li class="menu__subitem">
                  <a class="menu__sublink" href="#">Room #4</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Inspirations</a>
            </li>
          </ul>
        </nav>

        <!-- Search-form -->
        <div class="header__search">
          <button class="header__icon _icon-search btn"></button>
          <label for="formSearch">Search</label>
          <form class="formSearch" id="formSearch" action="#">
            <input class="formSearch__input" type="text" data-value="Search for minimalist chair" name="form[]" placeholder="Search for minimalist chair">
            <button class="formSearch__btn _icon-search btn" type="submit"></button>
          </form>
        </div>

        <!-- Action icons -->
        <div class="header__actions actions-header">
          <!-- Favorite -->
           <a class="actions-header__item _icon-favorite" href="#"></a>
           <!-- Cart -->
           <div class="actions-header__item cart-header">
             <a class="actions-header__item _icon-cart" href="#"></a>
             <ul class="cart-header__list"></ul>
           </div>
           <!-- Avatar -->
           <a class="actions-header__item header__avatar" href="#">
             <img src="img/avatar.jpg" alt="Avatar">
           </a>
          </div>

        <!-- Burger menu -->
        <button class="icon-menu btn" type="button">
          <span></span>
          <span class="sr-only">Menu</span>
        </button>

      </div>
    </div>
  </div>
</header>

<!-- End HEADER -->